google-genai==1.33.0
google-auth==2.40.3
google-cloud-aiplatform==1.111.0
google-cloud-bigquery==3.36.0
google-cloud-storage==2.19.0
requests-cache==1.2.1
pytest==8.4.1
pandas==2.3.2
bs4==0.0.2
matplotlib
xgboost==3.0.4
nvidia-ml-py==13.580.82
scikit-optimize==0.10.2
cma==4.3.0
ib-insync==0.9.86
RapidFuzz==3.14.3
dvc-gs==3.0.2
dvc-ssh==4.2.2